<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
            <h1>{{titulo}}</h1>
<!-- utilizamos la directiva v-model, para accerder a objetos o propiedades de la data
tenemos funciones como la onkeyup para agregar registro por medio del entender
y la funcion onclick para ejecutar las funciones de los objetos que se crean en metodos  -->

            <input  v-model="agregar"type="text" v-on:keyUp.13="agregarFrutas">
            <button @click="agregarFrutas">click on me </button>
         
           
            <ul>
                <li v-for="objetos in objeto">
                    
                    {{objetos.cantidad}}-{{objetos.nombre}}
        
                    <span v-if="objetos.cantidad===0">sin stock</span>
                </li>
            </ul> 
        <div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>