<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
            <h1>{{titulo}}</h1>
            <input  v-model="agregar"type="text" v-on:keyUp.13="agregarFrutas">
            <button @click="agregarFrutas">click on me </button>     
            <ul>
                <li v-for="objetos in objeto">
                    <input type="number" v-model.number="objetos.cantidad">
                    <button @click="objetos.cantidad++">+</button>
                    {{objetos.nombre}}      
                    <span v-if="objetos.cantidad===0">sin stock</span>            
                </li>
            </ul> 
            <h4>total: {{sumatotal}}</h4>
        <div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>