<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>   
</head>
<body> 
<!-- <div id="app">
    <h1>{{titulo}}</h1>
    <ul>
        <li v-for="arrays in array">{{arrays}}</li>
    </ul> -->
<div id="app">
    <h1>{{titulo}}</h1>
    <ul>
        <li v-for="objetos in objeto">
            
            {{objetos.cantidad}}-{{objetos.nombre}}

            <span v-if="objetos.cantidad===0">sin stock</span>
        </li>
    </ul> 
<div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</div>           
</body>
</html>
