<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<di id="main">
   
       <input type="text" v-model="info">

       <p v-bind:title="info">texnto de relleno.. {{info}}</p>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
<script type="text/javascript">
        new Vue({
 
             el:'#main',
           data:{
            info:''
           }
        });     
</script>
</body>
</html>