<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>VUEjs V2 Eventos | Rimorsoft Online</title>
    </head>
    <body>
        <div id="main">
            <ul>
                <li v-for="peoples in people" v-text="peoples"></li>
            </ul>
            <input type="text" v-model="name" v-on:keyup.enter="addName">
        </div>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
        <script type="text/javascript">
            new Vue({
                el: '#main',
                data: {
                    people: ['Lynda', 'Isabella', 'Diana', 'Luisa'],
                    name: ''
                },
              
                methods: {
                    addName: function(){
                        this.people.push(this.name);
                        this.name = '';
                    }
                }
            });
        </script>
    </body>
    </html>